body {
    font-family: sans-serif;
    padding: 20px;
  }

  .tree-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }

  #map {
    height: 600px;
  }

  #chat-box {
    z-index: 2000;
  }